<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recipes</title>
        <link rel="shortcut icon" type="image/jpg" href="/media/lemon.jpg" />
        <link href="{% static 'css/output.css' %}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.7.1.js"
                integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
                crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/2a117bd933.js"
                crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
              rel="stylesheet">
    </head>
    <body class="mx-4 font-roboto">
        <div class="my-3 border-b-2 border-b-indigo-300">
            <nav class="p-3 flex flex-col sm:flex-row justify-between">
                <div class="flex flex-col sm:flex-row justify-start gap-3">
                    <a href="{% url 'recipes:list' %}" class="font-bold">Recipes</a>
                    <a href="{% url 'recipes:create' %}"
                       class="hover:underline decoration-indigo-300 decoration-4 underline-offset-4">New Recipe</a>
                    <a href="{% url 'about' %}"
                       class="hover:underline decoration-indigo-300 decoration-4 underline-offset-4">About</a>
                </div>
                <form class="flex sm:ms-auto"
                      method="get"
                      action="{% url 'recipes:list' %}">
                    <input class="me-2 p-1 border-b-2 border-gray-700 placeholder:italic"
                           type="search"
                           name="search"
                           placeholder="Search"
                           aria-label="Search"
                           autocomplete="off">
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass opacity-75"></i>
                    </button>
                </form>
            </nav>
        </div>
        <div class="mx-5">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
