{% extends "recipe_manager/base.html" %}
{% block content %}
    <div class="container my-4">
        <h1 class="text-lg mb-4">Welcome to the Recipe Manager!</h1>
        <p>This website as a blog / note app to write down recipes and add notes to them.</p>
        <p>Made by Lucas Pagès as a portfolio project using Django and Tailwind CSS.</p>
        <br>
        <p>
            This website implements <span class="italic">CRUD operations</span> on recipe pages. It's meant to be a notes app more than a food blog.
        </p>
    </div>
{% endblock content %}
